.calculator {
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    border: 5px;
    background-color: rgb(34, 33, 33);
    width: 404px;
    height: 646px;
    justify-content: center;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.circle_bgcolor_red {
    background-color: red;
}

.circle_bgcolor_yellow {
    background-color: yellow;
}

.circle_bgcolor_green {
    background-color: green;
}

.circles {
    display: flex;  
    padding: 10px 0;
    list-style: none;
    margin: 0;
}

.circles__item {
    margin-left: 10px;
}

.input_block {
    width: auto;
    height: auto;
    padding: 0 20px 0 20px;
    margin: 0;
}

.input {
    width: 360px;
    height: 100px;
    padding: 0px;
    border: 0px;
    color: honeydew;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 65px;
    /* unicode-bidi:bidi-override;  */
    /* direction: RTL; input text right side */
}

.input_num {
    background-color: rgb(34, 33, 33);
    text-align:right;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    padding: 1px 1px 1px 1px;
}

.key {
    height: 100px;
    font-size: 35px;
    color: honeydew;
    font-family: Roboto, sans-serif;
    font-style: normal;
}

.key_bgcolor_grey {
    background-color: rgb(151, 151, 151);
}

.keys__but:hover {
    border: 2px #40565f;
	color: #497b94;
    border-radius: 5px;
}

.keys__but:active {
    width: 98px;
    height: 98px;
}

.keys__but {
    flex-basis: 25%;
}

#key_0 {
    flex-basis: 50%;
    border-bottom-left-radius:15px;
}

#key_eq {
    border-bottom-right-radius:15px;
}

.key_bgcolor_black {
    background-color: rgb(100, 100, 100);
}

.key_bgcolor_orange {
    background-color: orange;
}

